modules/.nextflow
modules/.nextflow.log
modules/work
modules/.nextflow*
bin/__pycache__
*.pyc
.vscode/*
.DS_Store
.nextflow/*
.nextflow.log*
work/*
test/results/*
test/data/pr8_concatenated.fasta
test/data/pr8_concatenated.csv
