manifest {
    mainScript = 'RNAswarm.nf'
}

params {
    // general
    max_cpus = Runtime.runtime.availableProcessors()
    cpus = 4
    max_memory = '32 GB'
    memory = '8 GB'
    slurm_queue = ''
    annotation_table = '' // path to annotation table, if not provided, annotation table will be generated automatically using the GMMs

    // filepaths
    input = false
    output = false
    samples = false
    annotations = false

    // simulate_interactions
    simulate_interactions = false
    read_len = 150
    rcount_interaction = 40000
    rcount_genome = 225000

    // preprocessing
    concatenate_genomes = false

    // segemehl
    segemehl_accuracy = 9
    segemehl_minfragsco = 15
    segemehl_minsplicecov = 80
    segemehl_minfraglen = 15
    segemehl_exclclipping = 0
    segemehl_threads = 48

    // 

}


// runinfo

timeline {
    enabled = true
    file = "${params.output}/run_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.output}/run_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.output}/run_info/execution_trace.csv"
    overwrite = true
}



profiles {
    
    // executors
    slurm {
        executor {
            name = "slurm"
        }
        includeConfig 'configs/slurm.config'
    }

    local {
        executor {
            name = "local"
        }
        includeConfig 'configs/local.config'
    }

    // engines
    conda {
        conda.enabled = true
        timeout = '2 h'
        includeConfig 'configs/conda.config'
    }

    apptainer {
        // Once we have all containers working we can remove the conda configs
        conda.enabled = true
        timeout = '2 h'
        includeConfig 'configs/conda.config'
        // apptainer-specific configs
        apptainer.enabled = true
        apptainer.bin = '/home/ru27wav/miniconda3/envs/nextflow/bin/apptainer'
        apptainer.autoMounts = true
        includeConfig 'configs/apptainer.config'
    }
}

