manifest {
    homePage = 'https://github.com/gabriellovate/RNAswarm'
    defaultBranch = 'main'
    mainScript = 'main.nf'
}

params {
    // general
    max_cpus = Runtime.runtime.availableProcessors()
    cpus = 4
    max_memory = '32 GB'
    memory = '8 GB'
    slurm_queue = ''

    // filepaths
    input = false
    output = false
    samples = false
    comparisons = false
    annotation_table = '' // path to annotation table, if not provided, annotation table will be generated automatically using the GMMs

    // simulate_interactions
    simulate_interactions = false
    read_len = 150
    rcount_interaction = 40000
    rcount_genome = 225000

    // preprocessing
    concatenate_genomes = false

    // segemehl
    segemehl_accuracy = 9
    segemehl_minfragsco = 15
    segemehl_minsplicecov = 80
    segemehl_minfraglen = 15
    segemehl_exclclipping = 0
    segemehl_threads = 48

    // annotation
    min_components = 70
    max_components = 80
    step_size = 5

}


// runinfo

timeline {
    enabled = true
    file = "${params.output}/run_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.output}/run_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.output}/run_info/execution_trace.csv"
    overwrite = true
}



profiles {
    
    // executors
    slurm {
        executor {
            name = "slurm"
        }
        includeConfig 'configs/slurm.config'
    }

    local {
        executor {
            name = "local"
        }
        includeConfig 'configs/local.config'
    }

    // engines
    conda {
        conda.enabled = true
        conda.createTimeout = '2 h'
        includeConfig 'configs/conda.config'
    }

    apptainer {
        conda.enabled = true
        conda.createTimeout = '2 h'
        apptainer.enabled = true
        apptainer.autoMounts = true
        // apptainer.runOptions = '--unsquash'
        includeConfig 'configs/apptainer.config'
    }

    test {
        executor {
            name = "local"
        }
        includeConfig 'configs/local.config'
        params.min_components = 20
        params.max_components = 30
        params.step_size = 5
        params.samples = workflow.projectDir + '/data/samples.csv'
        params.comparisons = workflow.projectDir + '/data/comparisons.csv'
    }
}

