manifest {
    mainScript = 'RNAswarm.nf'
}

params {
    // general
    max_cpus = Runtime.runtime.availableProcessors()
    cpus = 4
    max_memory = '32 GB'
    memory = '8 GB'
    slurm_queue = ''

    // filepaths
    input = './test/data'
    output = './test/results'

    // simulate_interactions
    simulate_interactions = false
    read_len = 150
    rcount_interaction = 40000
    rcount_genome = 225000

    // preprocessing
    concatenate_genomes = false

    // segemehl
    segemehl_accuracy = 9
    segemehl_minfragsco = 15
    segemehl_minsplicecov = 80
    segemehl_minfraglen = 15
    segemehl_exclclipping = 0
    segemehl_threads = 48

    // 

}


// runinfo

timeline {
    enabled = true
    file = "${params.output}/run_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.output}/run_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.output}/run_info/execution_trace.csv"
}



profiles {
    
    // executors
    slurm {
        executor {
            name = "slurm"
        }
        includeConfig 'configs/slurm.config'
    }

    local {
        executor {
            name = "local"
        }
        includeConfig 'configs/local.config'
    }

    // engines
    conda {
        includeConfig 'configs/conda.config'
    }
}

