process {
    withLabel: python3             { conda = "$baseDir/envs/python3.yaml" }
    withLabel: fastp               { container = "https://depot.galaxyproject.org/singularity/fastp:0.23.2--h5f740d0_3" }
    withLabel: fastqc              { container = "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0" }
    withLabel: segemehl            { container = "https://depot.galaxyproject.org/singularity/segemehl:0.3.4--hf7d323f_8" }
    withLabel: samtools            { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--h00cdaf9_0" }
    withLabel: r                   { conda = "$baseDir/envs/r.yaml"}
    withLabel: circos              { conda = "$baseDir/envs/circos.yaml"}
    withLabel: handle_arrays       { conda = "$baseDir/envs/handle_arrays.yml"}
}