process {
    withLabel: RNAswarm            { conda = "$baseDir/envs/RNAswarm.yaml" }
    withLabel: RNAswarm_small      { conda = "$baseDir/envs/RNAswarm.yaml" }
    withLabel: fastp               { container = "https://depot.galaxyproject.org/singularity/fastp:0.23.2--h5f740d0_3" }
    withLabel: fastqc              { container = "https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1" }
    withLabel: segemehl            { container = "https://depot.galaxyproject.org/singularity/segemehl:0.3.4--hf7d323f_8" }
    withLabel: samtools            { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--h00cdaf9_0" }
    withLabel: viennarna           { container = "https://quay.io/repository/biocontainers/viennarna?tab=tags&tag=2.6.4--py310pl5321h6cc9453_0" }
}
