process {
    withLabel: RNAswarm            { conda = "$baseDir/envs/RNAswarm.yaml" }
    withLabel: RNAswarm_small      { conda = "$baseDir/envs/RNAswarm.yaml" }
    withLabel: fastp               { conda = "$baseDir/envs/fastp.yaml" }
    withLabel: fastqc              { conda = "$baseDir/envs/fastqc.yaml" }
    withLabel: segemehl            { conda = "$baseDir/envs/segemehl.yaml" }
    withLabel: samtools            { conda = "$baseDir/envs/samtools.yaml" }
    withLabel: viennarna           { conda = "$baseDir/envs/viennarna.yaml" }
}