process {
    withLabel:  simulate_interactions      { conda = "$baseDir/envs/simulate_reads.yaml" }
    withLabel:  python3                    { conda = "$baseDir/envs/python3.yaml" }
    withLabel:  preprocessing              { conda = "$baseDir/envs/preprocessing.yaml" }
    withLabel:  mapping_segemehl           { conda = "$baseDir/envs/mapping_segemehl.yaml" }
    withLabel:  mapping_bwa                { conda = "$baseDir/envs/mapping_bwa.yaml" }
    withLabel:  mapping_samtools           { conda = "$baseDir/envs/mapping_samtools.yaml" }
    withLabel:  mapping_hisat2             { conda = "$baseDir/envs/mapping_hisat2.yaml" }
    withLabel:  python2                    { conda = "$baseDir/envs/python2.yaml" }
    withLabel:  generate_report_multiqc    { conda = "$baseDir/envs/generate_report_multiqc.yaml"}
    withLabel:  generate_report_kraken     { conda = "$baseDir/envs/generate_report_kraken.yaml" }
    withLabel:  generate_report_sortmerna  { conda = "$baseDir/envs/generate_report_sortmerna.yaml" }
}