process {
    withLabel:  python3                    { conda = "$baseDir/envs/python3.yaml" }
    withLabel:  preprocessing              { conda = "$baseDir/envs/preprocessing.yaml" }
    withLabel:  mapping_segemehl           { conda = "$baseDir/envs/mapping_segemehl.yaml" }
    withLabel:  mapping_samtools           { conda = "$baseDir/envs/mapping_samtools.yaml" }
}