process {
    withLabel: RNAswarm            { cpus = params.max_cpus }
    withLabel: RNAswarm_small      { cpus = 12 }
    withLabel: fastp               { cpus = 8 }
    withLabel: fastqc              { cpus = 8 }
    withLabel: segemehl            { cpus = params.max_cpus }
    withLabel: samtools            { cpus = 8 }
}