process {
    withLabel:  simulate_interactions   { cpus = 1 }
    withLabel:  python3                 { cpus = 8 }
    withLabel:  preprocessing           { cpus = 8 }
    withLabel:  mapping_segemehl        { cpus = params.max_cpus }
    withLabel:  mapping_bwa             { cpus = params.max_cpus }
    withLabel:  mapping_samtools        { cpus = params.max_cpus }
    withLabel:  python2                 { cpus = 1 }
}