process {
    withLabel:  python3                   { cpus = 8 }
    withLabel:  preprocessing             { cpus = 8 }
    withLabel:  mapping_segemehl          { cpus = params.max_cpus }
    withLabel:  mapping_samtools          { cpus = params.max_cpus }
    withLabel: r                          { cpus = 8 }
}