process {
    withLabel:  simulate_interactions   { cpus = 1; params.slurm_queue }
    withLabel:  python3                 { cpus = 8; params.slurm_queue }
    withLabel:  preprocessing           { cpus = 8; params.slurm_queue }
    withLabel:  mapping_segemehl        { cpus = params.max_cpus; params.slurm_queue }
    withLabel:  mapping_bwa             { cpus = params.max_cpus; params.slurm_queue }
    withLabel:  mapping_samtools        { cpus = params.max_cpus; params.slurm_queue }
    withLabel:  python2                 { cpus = 1; params.slurm_queue }
}