process {
    withLabel: RNAswarm            { cpus = params.max_cpus; queue = params.slurm_queue }
    withLabel: RNAswarm_small      { cpus = 12; queue = params.slurm_queue }
    withLabel: fastp               { cpus = 8; queue = params.slurm_queue }
    withLabel: fastqc              { cpus = 8; queue = params.slurm_queue }
    withLabel: segemehl            { cpus = params.max_cpus; queue = params.slurm_queue }
    withLabel: samtools            { cpus = 8; queue = params.slurm_queue }
}