process {
    withLabel:  python3                 { cpus = 8; queue = params.slurm_queue }
    withLabel:  preprocessing           { cpus = 8; queue = params.slurm_queue }
    withLabel:  mapping_segemehl        { cpus = params.max_cpus; queue = params.slurm_queue }
    withLabel:  mapping_samtools        { cpus = params.max_cpus; queue = params.slurm_queue }
    withLabel: r                        { cpus = 8; queue = params.slurm_queue }
}